---
import { Icon } from "astro-icon/components";
---

<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a href="https://www.linkedin.com/in/josh-crotty" target="_blank" class="mx-3" aria-label="LinkedIn" title="LinkedIn">
        <Icon name="tabler:brand-linkedin-filled" class="w-6 h-6" />
    </a>

    <a href="https://github.com/Zaradin" target="_blank" class="mx-3" aria-label="GitHub" title="GitHub">
        <Icon name="tabler:brand-github-filled" class="w-6 h-6" />
    </a>

    <a href="https://x.com/your-handle" target="_blank" class="mx-3" aria-label="X" title="X">
        <Icon name="tabler:brand-x-filled" class="w-6 h-6" />
    </a>

    <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <Icon name="tabler:rss" class="w-6 h-6" />
    </a>
</div>