---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40 hidden lg:block">
  <label for="my-drawer" class="drawer-overlay"></label>

  <aside class="m-6 px-8 py-8 h-[calc(100vh-3rem)] w-[19rem] rounded-3xl bg-base-200 text-base-content flex flex-col flex-shrink-0">
    <div class="w-fit mx-auto mb-8">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[8.5rem]">
            <Image
              class="mask mask-circle"
              format="webp"
              width={300}
              height={300}
              src="/profile.png"
              alt="Profile image"
            />
          </div>
        </div>
      </a>

      <h2 class="mt-5 text-center text-xl font-bold">
        Josh Crotty
      </h2>
    </div>

    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />

    <div class="mt-auto">
      <SideBarFooter />
    </div>
  </aside>
</div>